@use '../utils/mixins' as m;

.mobileNavigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-block-start: 1px solid rgb(219, 219, 219);
  background-color: var(--just-white);
  button img {
    border-radius: 50%;
  }
  @include m.from(m) {
    display: none;
  }
}
