@use '../utils/mixins' as m;
@forward '../components/post-details';
@forward '../components/post-heading';
@forward '../components/post-cover';
@forward '../components/post-comment';

.postContainer {
  @include m.from(l) {
    grid-column: 1 / 2;
    grid-row: 2 /3;
  }
}
.postContent {
  background-color: var(--just-white);
  padding-block-end: 0.5rem;
  @include m.from(m) {
    margin-block-end: 1.5rem;
  }
}
.postDescription {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  p {
    margin-block-start: 0.5rem;
  }
}
.postDetail {
  display: flex;
  align-items: center;
  block-size: 4rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}
.postDetail-iconBox {
  flex: 1;
  display: flex;
  &:last-child {
    justify-self: flex-end;
  }
}
.posts {
  @include m.from(m) {
    padding-inline-end: 2rem;
    padding-inline-start: 2rem;
  }
  @include m.from(l) {
    inline-size: 38.5rem;
    padding-inline: 0;
    margin: auto;
  }
  @include m.from(x) {
    margin: 0;
  }
}
