.postComment {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 1.25rem;
  padding-block-end: 1.25rem;
  img {
    border-radius: 50%;
  }
  form {
    flex: 1;
  }
  form input {
    inline-size: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0;
    border: none;
    outline: none;
  }
  span {
    color: var(--soft-blue);
  }
}
