@use '../utils/mixins' as m;

.storyList {
  @include m.from(m) {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
  }
}
.storyList-container {
  display: flex;
  gap: 1rem;
  inline-size: 100%;
  block-size: 6.25rem;
  padding: 1rem;
  border-block-end: 1px solid rgb(219, 219, 219);

  box-sizing: border-box;
  background-color: var(--just-white);
  overflow-y: auto;
  @include m.from(m) {
    border: 1px solid rgb(219, 219, 219);
  }
  @include m.from(l) {
    inline-size: 38.5rem;
    margin: auto;
  }
  @include m.from(x) {
    margin: 0;
  }
}
