@use '../utils/mixins' as m;
.stories {
}
.stories-content {
  box-sizing: border-box;
  block-size: 120px;
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--just-white);
  overflow-x: auto;

  figure {
    flex-grow: 1.5;
    flex-shrink: 0;
    flex-basis: 20%;
    text-align: center;
    text-align: center;
    cursor: pointer;
  }
  figure img {
    border-radius: 50%;
    inline-size: 64px;
    block-size: 64px;
    object-fit: cover;
  }
  .image {
    position: relative;
    inline-size: 64px;
    block-size: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .is-story {
    &::before {
      content: ' ';
      position: absolute;
      inline-size: 65px;
      block-size: 65px;
      border-radius: 50px; /*1*/
      border: 2.5px solid transparent; /*2*/
      background: var(--is-story) border-box; /*3*/
      -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out; /*5'*/
      mask-composite: exclude;
    }
  }

  @include m.from(m) {
    margin-block-start: 16px;
    margin-inline-start: 16px;
    margin-inline-end: 16px;
    border: 1px solid rgb(219, 219, 219);
    figure {
      flex-basis: 12%;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:active {
      background-color: #999999;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @include m.from(l) {
    margin-inline-start: 0;
    margin: auto;
    margin-block-start: 20px;
  }
  @include m.from(x) {
    margin-inline: 0;
  }
}
