:root {
  // font-size: 30px;
  --soft-red: #ed4756;
  --soft-blue: #3898f3;
  --darkness-blue: #306197;
  --just-gray: #dbdbdb;
  --just-white: #fff;
  --just-black: #000;
  --is-story: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  --baseFontFamily: Avenir, 'Helvetica', 'sans-serif';
  --baseFont: normal 1rem / normal var(--baseFontFamily);
  --baseFontBold: normal 1rem / normal var(--baseFontFamily);
  --smallFont: normal 0.75rem / normal var(--baseFontFamily);
}
