html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--baseFontFamily);
  background-color: rgb(244, 244, 244);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-inline-size: 100%;
}

.u-disabled {
  display: none;
}
.wrapper {
  position: relative;
  max-inline-size: 950px;
  margin: auto;
}
