@forward '../components/nav';
@use '../utils/mixins' as m;

.header {
  position: sticky;
  inline-size: 100%;
  top: 0;
  padding-block: 5px;
  background-color: var(--just-white);
  z-index: 1000;
  @include m.from(m) {
    // filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
    border-block-end: 1px solid rgb(219, 219, 219);
  }
}
.header-content {
  display: flex;
  block-size: 48px;
  align-items: center;
  justify-content: space-between;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  &__logo {
    inline-size: 100px;
  }
}
