@font-face {
  font-family: 'icomoon';
  src: url('src/assets/fonts/icomoon.eot?21ybub');
  src: url('fsrc/assets/fonts/icomoon.eot?21ybub#iefix')
      format('embedded-opentype'),
    url('src/assets/fonts/icomoon.ttf?21ybub') format('truetype'),
    url('src/assets/fonts/icomoon.woff?21ybub') format('woff'),
    url('src/assets/fonts/icomoon.svg?21ybub#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-add:before {
  content: '\e900';
}
.icon-icon-bag-shop:before {
  content: '\e901';
}
.icon-icon-bag-shop-fill:before {
  content: '\e902';
}
.icon-icon-camera:before {
  content: '\e903';
}
.icon-icon-camera-fil:before {
  content: '\e904';
}
.icon-icon-coment:before {
  content: '\e905';
}
.icon-icon-coment-fill:before {
  content: '\e906';
}
.icon-icon-heart:before {
  content: '\e907';
}
.icon-icon-heart-fill:before {
  content: '\e908';
}
.icon-icon-home:before {
  content: '\e909';
}
.icon-icon-home-fill:before {
  content: '\e90a';
}
.icon-icon-messenger:before {
  content: '\e90b';
}
.icon-icon-more:before {
  content: '\e90c';
}
.icon-icon-reels:before {
  content: '\e90d';
}
.icon-icon-save:before {
  content: '\e90e';
}
.icon-icon-search:before {
  content: '\e90f';
}
.icon-icon-share:before {
  content: '\e910';
}
.icon-Instantanea:before {
  content: '\e911';
}
