:root {
  --soft-red: #ed4756;
  --soft-blue: #3898f3;
  --darkness-blue: #306197;
  --just-gray: #dbdbdb;
  --just-white: #fff;
  --just-black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
}

figure {
  margin: 0;
}

.u-disabled {
  display: none;
}

.wrapper {
  max-inline-size: 950px;
  margin: auto;
}

.form-control {
  display: none;
}
.form-control .form-group input[type=text] {
  box-sizing: border-box;
  padding-inline: 10px;
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  color: #262626;
}
@media screen and (min-width: 480px) {
  .form-control {
    display: block;
  }
  .form-control .form-group input[type=text] {
    block-size: 25px;
  }
}

.logos-box .icon-box {
  inline-size: 30px;
  block-size: 30px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.navbar-footer {
  position: fixed;
  inline-size: 100%;
  block-size: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--just-white);
}
@media screen and (min-width: 480px) {
  .navbar-footer {
    display: none;
  }
}

.navbar-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 16px;
  margin-inline-start: 16px;
  padding-block-start: 10px;
}

.header {
  position: sticky;
  inline-size: 100%;
  top: 0;
  background-color: var(--just-white);
  z-index: 1000;
}
@media screen and (min-width: 480px) {
  .header {
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
  }
}

.header-content {
  display: flex;
  block-size: 48px;
  align-items: center;
  justify-content: space-between;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}
.header-content__logo {
  inline-size: 100px;
}

@media screen and (min-width: 480px) {
  .mobile-view {
    display: none;
  }
}

.mobile-search,
.mobile-shooping {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  padding-block-start: 20px;
  background-color: var(--just-white);
  z-index: 1000;
  visibility: hidden;
}

.form-mobile {
  padding-block-end: 10px;
}
.form-mobile input[type=text] {
  box-sizing: border-box;
  inline-size: 100%;
  padding-inline-start: 16px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  font-size: 16px;
}

.tags {
  margin-block-start: 10px;
  margin-block-end: 20px;
  overflow: auto;
}
.tags span {
  display: inline-block;
  border: 1px solid var(--just-black);
  padding: 10px 12px;
  margin-inline-end: 10px;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  block-size: 440px;
  overflow: scroll;
}
.grid-container img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.mobile-shooping .grid-container {
  grid-template-columns: 1fr 1fr;
}

.is-active {
  visibility: visible;
}

.stories-content {
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  padding: 16px;
  overflow-x: auto;
  border: 1px solid #dbdbdb;
}
.stories-content figure {
  flex-grow: 1.5;
  flex-shrink: 0;
  flex-basis: 20%;
}
.stories-content figure img {
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .stories-content {
    margin-block-start: 16px;
  }
  .stories-content figure {
    flex-basis: 12%;
  }
}
@media screen and (min-width: 768px) {
  .stories-content {
    margin-inline-start: 0;
    margin: auto;
    margin-block-start: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .stories-content {
    margin-inline: 0;
  }
}

.post-article {
  margin-block-start: 20px;
  padding-block-end: 20px;
  margin-block-end: 20px;
  background-color: var(--just-white);
}
@media screen and (min-width: 768px) {
  .post-article {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.post-heading {
  display: flex;
  justify-content: space-between;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.post-description {
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}

.heading-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}

.post-content .user {
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
}

.post-image img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.comment {
  display: flex;
  align-items: center;
  gap: 16px;
}
.comment input[type=text] {
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 35px;
}

.logos-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}
.logos-box .l-side img {
  margin-inline-end: 10px;
}

@media screen and (min-width: 768px) {
  .post-content,
.stories-content {
    inline-size: 600px;
  }
}

@media screen and (min-width: 768px) {
  .post-content {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .post-content {
    margin-inline: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
