:root {
  --soft-red: #ed4756;
  --soft-blue: #3898f3;
  --darkness-blue: #306197;
  --just-gray: #dbdbdb;
  --just-white: #fff;
  --just-black: #000;
  --is-story: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui;
  background-color: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
}

figure {
  margin: 0;
}

.u-disabled {
  display: none;
}

.wrapper {
  position: relative;
  max-inline-size: 950px;
  margin: auto;
}

.form-control {
  display: none;
}
.form-control .form-group input[type=text] {
  box-sizing: border-box;
  padding-inline: 10px;
  background-color: #f0f0f0;
  border: 1px solid #dbdbdb;
  color: #262626;
}
@media screen and (min-width: 480px) {
  .form-control {
    display: block;
  }
  .form-control .form-group input[type=text] {
    block-size: 25px;
  }
}

.logos-box .icon-box {
  inline-size: 30px;
  block-size: 30px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.navbar-footer {
  position: fixed;
  inline-size: 100%;
  block-size: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--just-white);
}
@media screen and (min-width: 480px) {
  .navbar-footer {
    display: none;
  }
}

.navbar-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 16px;
  margin-inline-start: 16px;
  padding-block-start: 10px;
}

.header {
  position: sticky;
  inline-size: 100%;
  top: 0;
  padding-block: 5px;
  background-color: var(--just-white);
  z-index: 1000;
}
@media screen and (min-width: 480px) {
  .header {
    border-block-end: 1px solid #dbdbdb;
  }
}

.header-content {
  display: flex;
  block-size: 48px;
  align-items: center;
  justify-content: space-between;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}
.header-content__logo {
  inline-size: 100px;
}

@media screen and (min-width: 480px) {
  .mobile-view {
    display: none;
  }
}

.mobile-search,
.mobile-shooping {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  padding-block-start: 20px;
  background-color: var(--just-white);
  z-index: 1000;
  visibility: hidden;
}

.form-mobile {
  padding-block-end: 10px;
}
.form-mobile input[type=text] {
  box-sizing: border-box;
  inline-size: 100%;
  padding-inline-start: 16px;
  padding-block-start: 10px;
  padding-block-end: 10px;
  font-size: 16px;
}

.tags {
  margin-block-start: 10px;
  margin-block-end: 20px;
  overflow: auto;
}
.tags span {
  display: inline-block;
  border: 1px solid var(--just-black);
  padding: 10px 12px;
  margin-inline-end: 10px;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  block-size: 440px;
  overflow: scroll;
}
.grid-container img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.mobile-shooping .grid-container {
  grid-template-columns: 1fr 1fr;
}

.is-active {
  visibility: visible;
}

.show-story {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  block-size: 100vh;
  display: none;
  background-color: var(--just-black);
  z-index: 100000;
}
.show-story.is-active {
  display: block;
}

.show-story-content {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.show-story .story {
  block-size: 80vh;
}

.show-story .story img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.icon-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.stories-content {
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: var(--just-white);
  overflow-x: auto;
}
.stories-content figure {
  flex-grow: 1.5;
  flex-shrink: 0;
  flex-basis: 20%;
  text-align: center;
  text-align: center;
  cursor: pointer;
}
.stories-content figure img {
  border-radius: 50%;
  inline-size: 64px;
  block-size: 64px;
  object-fit: cover;
}
.stories-content .image {
  position: relative;
  inline-size: 64px;
  block-size: 64px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stories-content .is-story::before {
  content: " ";
  position: absolute;
  inline-size: 65px;
  block-size: 65px;
  border-radius: 50px;
  /*1*/
  border: 2.5px solid transparent;
  /*2*/
  background: var(--is-story) border-box;
  /*3*/
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  /*5'*/
  mask-composite: exclude;
}
@media screen and (min-width: 480px) {
  .stories-content {
    margin-block-start: 16px;
    margin-inline-start: 16px;
    margin-inline-end: 16px;
    border: 1px solid #dbdbdb;
  }
  .stories-content figure {
    flex-basis: 12%;
  }
  .stories-content::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }
  .stories-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  .stories-content::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  .stories-content::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .stories-content {
    margin-inline-start: 0;
    margin: auto;
    margin-block-start: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .stories-content {
    margin-inline: 0;
  }
}

.post-article {
  margin-block-start: 20px;
  margin-block-end: 20px;
  background-color: var(--just-white);
}
@media screen and (min-width: 768px) {
  .post-article {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.post-heading {
  display: flex;
  justify-content: space-between;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.post-description {
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}

.heading-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}

.post-content .user {
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
}

.post-image img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.comment {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
  border-block-start: 1px solid rgba(0, 0, 0, 0.2);
}
.comment input[type=text] {
  border: none;
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 35px;
}
.comment span {
  color: var(--soft-blue);
}

.logos-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}
.logos-box .l-side img {
  margin-inline-end: 10px;
}

@media screen and (min-width: 768px) {
  .post-content,
.stories-content {
    inline-size: 600px;
  }
}

.post-content {
  position: relative;
}
@media screen and (min-width: 768px) {
  .post-content {
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .post-content {
    margin-inline: 0;
  }
}

@media screen and (min-width: 1024px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.aside {
  justify-self: end;
  position: absolute;
  right: 0;
  z-index: 10;
  position: sticky;
  padding-block-start: 20px;
  top: 100px;
}

.user-suggestion {
  position: sticky;
  top: 80px;
  inset-block-start: 80px;
  display: none;
  inline-size: 306px;
}
.user-suggestion .account {
  display: grid;
  grid-template-columns: 64px 1fr 1fr;
  column-gap: 10px;
}
.user-suggestion .account img {
  border-radius: 50%;
}
.user-suggestion .description {
  align-self: center;
}
.user-suggestion .description p {
  margin: 0;
  font-size: 14px;
}
.user-suggestion .description p:first-child {
  font-weight: bold;
}
.user-suggestion .description p:last-child {
  color: rgba(34, 34, 34, 0.616);
}
.user-suggestion span {
  align-self: center;
  color: var(--soft-blue);
}
@media screen and (min-width: 1024px) {
  .user-suggestion {
    display: block;
  }
}

.list-suggestion .account {
  grid-template-columns: 40px 1fr 1fr;
  margin-bottom: 16px;
  margin-block-end: 16px;
}
.list-suggestion .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
